<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="jumbotron">
		<h1>RESULTS</h1>
		<% @movie.reverse.each_with_index do |mov, i| %>
			<%= i+1 %> : <%= mov.title %><br>
			<%= mov.release %><br>
			<%= mov.image %><br><br><br>
		<% end %>
	</div>

	<div class="jumbotron">
		<%= link_to "ACCUEIL", "/", class: "btn btn-lg btn-warning" %>
	</div>
</body>
</html>